body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.center-content {
    display: inline-block;
    text-align: left;
}

.center-table {
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

textarea#description {
    width: 300px;
    height: 200px;
    resize: none;
}

input {
    width: 300px;
}

input[type="submit"] {
    margin-left: 3px;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.first-button {
    margin-left: 115px;
}

a {
    color: inherit;
    text-decoration: none;
  }